database:
  username: postgres
  password: password
  host: localhost:5432
  dbname: dalc
  sslmode: disable

rabbitmq:
  username: guest
  password: guest
  host: localhost:5672
  virtual_host: /

server:
  host: localhost
  port: 8080

